---

---
<button class="btn btn-outline btn-primary" id="exports">导出</button>
<script>
  
  function clickExport(e) {
    console.log(e);
  }
  
  document.getElementById('exports').addEventListener('click', clickExport);
</script>