---
import BaseLayout from '../layouts/BaseLayout.astro';
import TimeLineElement from '../components/cv/TimeLine.astro';
---
<BaseLayout title="Resume" sideBarActiveItemID="cv">
  <div class="" id="my-cv">
    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Profile/个人</div>
    </div>

    <div class="mb-10 text-justify">
      我叫刘圣伟，前端工程师。
    </div>


    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Experience/经历</div>
    </div>

    <div class="time-line-container mb-10">
      <TimeLineElement title="前端开发（SCANIA 江苏南通如皋）2022.7 ~ 2023.1">
        去瑞典工厂培训 MES 业务，整理集团软件采购安全流程(ISEC)，负责软件采购方案调研。
      </TimeLineElement>
      <TimeLineElement title="前端AM（埃森哲启云 辽宁大连）2021.7 ~ 2022.3">
        主导某 500 强企业数字化项目，负责移动App和微信同构、钉钉端架构升级。
        <p class="mb-2">技术栈 Vuejs、React、Uniapp、Ding。</p>
      </TimeLineElement>
      <TimeLineElement title="前端架构师(上海翱盛 辽宁大连）2020.5 ~ 2022.7">
        多个企业管理系统研发负责人，开发配置式组件，提升交付速度。
        <p class="mb-2">核心技术栈 Vue3、TS、Echarts、Flutter。</p>
      </TimeLineElement>
      <TimeLineElement title="高级前端开发(深圳汇思诺 辽宁大连）2019.5 ~ 2020.2">
        主导企业 SASS 平台和小程序架构。
        <p class="mb-2">技术栈 Angular10+、Vuejs、Uniapp。</p>
      </TimeLineElement>
      <TimeLineElement title="跨平台开发(江苏⻛云科技 江苏苏州）2017.5 ~ 2019.2">
        负责 devops 平台模块、某国企可视化项⺫和移动管理端，开发 Form、Table、Tree 组件。
        <p class="mb-2">技术栈 Angular 8、Vuejs、D3.js、Echarts、Cordova。</p>
      </TimeLineElement>
      <TimeLineElement title="初级软件工程师(上海安硕 江苏苏州）2015.5 ~ 2017.3">
        参与银行 web 开发，主导移动端 RN 开发、负责 Redux 替换 Flux、推行 ES6 规范与代码审核。
        <p class="mb-2">技术栈 Angular.js、RN。</p>
      </TimeLineElement>
      <TimeLineElement title="JAVA工程师(浪潮通软 上海）2014.9 ~ 2015.3">
        参与浦发银行财资系统开发。
        <p >技术栈JAVA mybatis servlet。</p>
      </TimeLineElement>
    </div>

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Education/教育</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
      <TimeLineElement title="太原理工大学(毕业无学位)" subtitle="2010.9～2014.9 机械设计制作及其自动化 山西太原" />
    </div>

    <!--<div class="mb-5">-->
    <!--  <div class="text-3xl w-full font-bold">Certifications/认证</div>-->
    <!--</div>-->

    <!--<ul class="list-disc mx-6 mb-10 grid gap-2">-->
    <!--  <li>-->
    <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
    <!--  </li>-->
    <!--  <li>-->
    <!--    <a href="#" target="_blank"> Certification Name (with link)</a>-->
    <!--  </li>-->
    <!--</ul>-->

    <div class="mb-5">
      <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="flex flex-col mx-6">
      <li>
        Vue
      </li>
      <li class="flex flex-col">
        <span>React</span>
        <ol>
          <li class="ml-4">
            <a class="underline font-black" target="_blank" href="https://next-github-pied.vercel.app/">基于nextjs App
              架构的github mock(已部署)</a>
          </li>
        </ol>
      </li>
      <li>Angular</li>
      <li>Astro</li>
      <li>Uniapp</li>
    </ul>
  </div>
</BaseLayout>
