---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---
<BaseLayout title="Resume" sideBarActiveItemID="cv">
    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Profile/个人</div>
    </div>

    <div class="mb-10 text-justify">
        我叫刘圣伟，前端工程师。
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Education/教育</div>
    </div>

    <div class="time-line-container grid gap-4 mb-10">
        <TimeLineElement title="太原理工大学(毕业无学位)" subtitle="2010～2014 机械设计制作及其自动化 山西太原"/>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Experience/经历</div>
    </div>

    <div class="time-line-container mb-10">
        <TimeLineElement title="前端开发" subtitle="2022.7~2023.1 SCANIA 江苏南通如皋">

        </TimeLineElement>
        <TimeLineElement title="前端开发经理助理/AM" subtitle="2021.7~2022.3 Accenture 辽宁大连">

        </TimeLineElement>
        <TimeLineElement title="前端架构师" subtitle="2020.5~2022.7">
        </TimeLineElement>
    </div>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Certifications/认证</div>
    </div>

    <ul class="list-disc mx-6 mb-10 grid gap-2">
        <li>
            <a href="#" target="_blank"> Certification Name (with link)</a>
        </li>
        <li>
            <a href="#" target="_blank"> Certification Name (with link)</a>
        </li>
    </ul>

    <div class="mb-5">
        <div class="text-3xl w-full font-bold">Skills</div>
    </div>

    <ul class="list-disc md:columns-4 columns-2 mx-6">
        <li>Vue</li>
        <li>React</li>
        <li>Angular</li>
        <li>Astro</li>
        <li>Uniapp</li>
    </ul>
</BaseLayout>
