---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
    <div class="pb-2">
        &copy; {today.getFullYear()} Max Liu
    </div>
    <div class="inline opacity-75">
        Developed by
        <a href="https://astro.build/" target="_blank" class="font-bold">Astro</a>
        Deployed by
        <a href="https://deno.com/" target="_blank" class="font-bold">deno</a>
    </div>
</footer>
<style></style>
